@import "https://cdn.jsdeliver.net/npm/daisyui@latest/dist/full.css"; /* importing daisyui for additional components */
@import "tailwindcss"; /* importing tailwind need this for processing this file, since we're using the tailwindcss-rails gem */


@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
  &.title {
    @apply text-6xl font-extrabold mb-8;
  }
}
h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-medium;
}
.album-box {
  @apply w-80 h-80 bg-gray-400 rounded-lg m-auto;
}

.project-display {
  @apply text-center;
}

.home-display {
  @apply flex flex-col justify-center items-center h-screen;
}