<h1>Projects</h1>

<div id="projects">
    <% @projects.each do |project| %>
        <div>
            <%= link_to project.name, project %>
        </div>
    <% end %>
</div>

<%= link_to "Make your own project", new_project_path %>