<div class="project-display">
    <h1><%= @project.name %></h1>

    <h2>Today's Album</h2>
    <div class="album-box"></div>
    <h3>Album title: <%= @todays_album.title %></h3>
    <h3>Artist name: <%= @todays_album.artist %></h3>
    <h3><%= link_to "View Album on Spotify", @todays_album.spotify_link %></h3>

</div>