/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .album-box {
    width: 500px;
    height: 500px;
    background-color: gray;
    border-radius: 20px;
    margin: auto;
 }

 .project-display{
    background-color: whitesmoke;
    text-align: center;
 }

 .home-display{
    background-color: whitesmoke;
    text-align: center;
 }